# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore PyInstaller build files
dist/
build/
*.spec

# Ignore logs and cache
*.log

# Ignore Python's compiled bytecode directories
__pycache__/